// this sets the content to exactly the viewport height minus the height of the toolbar
fc-menu-sidenav {
    height: 100vh;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    @media (max-width: 599px) {
        margin-top: -56px;
        padding-top: 56px;
    }
    @media (min-width: 600px) {
        margin-top: -64px;
        padding-top: 64px;
    }
}