<RadSideDrawer>
    <StackLayout tkDrawerContent class="sidedrawer-content">
        <StackLayout class="sidedrawer-header">
            <Image src="~/assets/img/logo-lg.png"></Image>
        </StackLayout>
        <StackLayout>
            <StackLayout orientation="horizontal">
                <Label text="&#xf015;" width="50" class="p-15 sidedrawer-list-item active fa"></Label>
                <Label text="Home" class="p-15 sidedrawer-list-item active"></Label>
            </StackLayout>
            <StackLayout orientation="horizontal">
                <Label text="&#xf0ad;" width="50" class="p-15 sidedrawer-list-item fa"></Label>
                <Label text="Simulate" class="p-15 sidedrawer-list-item"></Label>
            </StackLayout>
            <StackLayout orientation="horizontal">
                <Label text="&#xf108;" width="50" class="p-15 sidedrawer-list-item fa"></Label>
                <Label text="Live" class="p-15 sidedrawer-list-item"></Label>
            </StackLayout>
            <StackLayout orientation="horizontal">
                <Label text="&#xf245;" width="50" class="p-15 sidedrawer-list-item fa"></Label>
                <Label text="Media" class="p-15 sidedrawer-list-item"></Label>
            </StackLayout>
            <StackLayout orientation="horizontal">
                <Label text="&#xf0ad;" width="50" class="p-15 sidedrawer-list-item fa"></Label>
                <Label text="About Declan" class="p-15 sidedrawer-list-item"></Label>
            </StackLayout>
            <StackLayout orientation="horizontal">
                <Label text="&#xf3d9;" width="50" class="p-15 sidedrawer-list-item fa-brand"></Label>
                <Label text="Support me on Patreon!" class="p-15 sidedrawer-list-item"></Label>
            </StackLayout>
            <StackLayout orientation="horizontal">
                <Label text="&#xf406;" width="50" class="p-15 sidedrawer-list-item fa"></Label>
                <Label text="Account" class="p-15 sidedrawer-list-item"></Label>
            </StackLayout>
            <StackLayout orientation="horizontal">
                <Label text="&#xf3d9;" width="50" class="p-15 sidedrawer-list-item fa-brand"></Label>
                <Label text="Log in" class="p-15 sidedrawer-list-item"></Label>
            </StackLayout>
        </StackLayout>
    </StackLayout>
    <StackLayout tkMainContent>
        <page-router-outlet></page-router-outlet>
    </StackLayout>
</RadSideDrawer>