.sidedrawer-header {
    background: linear-gradient(#424242, #D4D4D4);
    .logo {
        height: 75;
        width: 75;
    }
    Image {
        margin: auto;
        width: 90%;
    }
    .login * {
        color: black;
    }
}